@model IEnumerable<MVC_First_Week_HW.Models.QuantityView>

@{
    ViewBag.Title = "數量";
}
@section breadCrumb{
    @Html.ActionLink("數量", "Index", "Quantity")
}
<h2>數量</h2>
@using (Html.BeginForm("ExportExcel", "Quantity", FormMethod.Post, null))
{
    <input type="submit" value="Export" class="btn btn-primary" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.聯絡人數量)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.銀行帳戶數量)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.聯絡人數量)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.銀行帳戶數量)
            </td>
        </tr>
    }

</table>
