@model IEnumerable<MVC_First_Week_HW.Models.客戶資料>
@using X.PagedList;
@using X.PagedList.Mvc;

@{
    ViewBag.Title = "客戶資料";
}

<h2>客戶資料</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "客戶資料", FormMethod.Post, new { style = "float:left;" }))
{
    <div style="float:left">
        <label>搜尋：</label>
        @Html.TextBox("搜尋客戶名稱", null, new { placeholder = "請輸入客戶名稱", @class = "form-control" })
        <input type="submit" value="搜尋" class="btn btn-default" />
    </div>
    <div style="float:left;margin-left:10px;">
        <label>客戶分類：</label>
        @Html.DropDownList("篩選分類", (IEnumerable<SelectListItem>)ViewBag.CategoryList, "請選擇", new { @class = "form-control" })
        <input type="submit" value="篩選" class="btn btn-default" />
    </div>
}
@using (Html.BeginForm("ExportExcel", "客戶資料", FormMethod.Post, new { style = "float:right;" }))
{
    @Html.Hidden("搜尋客戶名稱", (string)ViewBag.搜尋客戶名稱)
    @Html.Hidden("篩選分類", (string)ViewBag.篩選分類)
    @Html.Hidden("sort_col", (string)ViewBag.sort_col)
    @Html.Hidden("isSort", ViewBag.isSort == true ? "true" : "false")
    <input type="submit" value="Export" class="btn btn-primary" />
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("客戶名稱", "Index", new { sort_col = "客戶名稱", page = ViewBag.currentPage, isSort = !ViewBag.isSort, 搜尋客戶名稱 = (string)ViewBag.搜尋客戶名稱, 客戶分類 = (string)ViewBag.篩選分類 })
        </th>
        <th>
            @Html.ActionLink("統一編號", "Index", new { sort_col = "統一編號", page = ViewBag.currentPage, isSort = !ViewBag.isSort, 搜尋客戶名稱 = (string)ViewBag.搜尋客戶名稱, 客戶分類 = (string)ViewBag.篩選分類 })
        </th>
        <th>
            @Html.ActionLink("電話", "Index", new { sort_col = "電話", page = ViewBag.currentPage, isSort = !ViewBag.isSort, 搜尋客戶名稱 = (string)ViewBag.搜尋客戶名稱, 客戶分類 = (string)ViewBag.篩選分類 })
        </th>
        <th>
            @Html.ActionLink("傳真", "Index", new { sort_col = "傳真", page = ViewBag.currentPage, isSort = !ViewBag.isSort, 搜尋客戶名稱 = (string)ViewBag.搜尋客戶名稱, 客戶分類 = (string)ViewBag.篩選分類 })
        </th>
        <th>
            @Html.ActionLink("地址", "Index", new { sort_col = "地址", page = ViewBag.currentPage, isSort = !ViewBag.isSort, 搜尋客戶名稱 = (string)ViewBag.搜尋客戶名稱, 客戶分類 = (string)ViewBag.篩選分類 })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sort_col = "Email", page = ViewBag.currentPage, isSort = !ViewBag.isSort, 搜尋客戶名稱 = (string)ViewBag.搜尋客戶名稱, 客戶分類 = (string)ViewBag.篩選分類 })
        </th>
        <th>
            @Html.ActionLink("客戶分類", "Index", new { sort_col = "客戶分類", page = ViewBag.currentPage, isSort = !ViewBag.isSort, 搜尋客戶名稱 = (string)ViewBag.搜尋客戶名稱, 客戶分類 = (string)ViewBag.篩選分類 })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.統一編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.傳真)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.地址)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶分類)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page, sort_col = ViewBag.sort_col, isSort = ViewBag.isSort, 搜尋客戶名稱 = ViewBag.搜尋客戶名稱, 客戶分類 = ViewBag.篩選分類 }))

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function () {
    });
</script>