@model IEnumerable<MVC_First_Week_HW.Models.客戶聯絡人>

@{
    ViewBag.Title = "客戶聯絡人";
}

<h2>客戶聯絡人</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "客戶聯絡人", FormMethod.Post, null))
{
    @Html.TextBox("keyword", (string)ViewBag.keyword, new { placeholder = "請輸入姓名" });
    <input type="submit" value="搜尋" />
    <br />
    <label>篩選-職稱：</label>
    @Html.DropDownList("職稱", null, "請選擇", (string)ViewBag.篩選職稱)
    <input type="submit" value="篩選" />
}
@using (Html.BeginForm("ExportExcel", "客戶聯絡人", FormMethod.Post, null))
{
    @Html.Hidden("keyword", (string)ViewBag.keyword)
    @Html.Hidden("篩選職稱", (string)ViewBag.篩選職稱)
    @Html.Hidden("sort_col", (string)ViewBag.sort_col)
    @Html.Hidden("current_sort", (string)ViewBag.current_sort)
    <input type="submit" value="Export" />
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("職稱", "Index", new { sort_col = "職稱", current_sort = ViewBag.current_sort, keyword = (string)ViewBag.keyword, 職稱 = (string)ViewBag.篩選職稱 })
        </th>
        <th>
            @Html.ActionLink("姓名", "Index", new { sort_col = "姓名", current_sort = ViewBag.current_sort, keyword = (string)ViewBag.keyword, 職稱 = (string)ViewBag.篩選職稱 })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sort_col = "Email", current_sort = ViewBag.current_sort, keyword = (string)ViewBag.keyword, 職稱 = (string)ViewBag.篩選職稱 })
        </th>
        <th>
            @Html.ActionLink("手機", "Index", new { sort_col = "手機", current_sort = ViewBag.current_sort, keyword = (string)ViewBag.keyword, 職稱 = (string)ViewBag.篩選職稱 })
        </th>
        <th>
            @Html.ActionLink("電話", "Index", new { sort_col = "電話", current_sort = ViewBag.current_sort, keyword = (string)ViewBag.keyword, 職稱 = (string)ViewBag.篩選職稱 })
        </th>
        <th>
            @Html.ActionLink("客戶名稱", "Index", new { sort_col = "客戶名稱", current_sort = ViewBag.current_sort, keyword = (string)ViewBag.keyword, 職稱 = (string)ViewBag.篩選職稱 })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.職稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.姓名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.手機)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
